.ContainerResquestInvite{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 700px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.introDesktop{
    height: 1100px;
    position: relative;
    left: 100px;
    bottom: 30px;
    z-index: 1;
    overflow: hidden;
}
.imageMorckups{
    height: 850px;
    position: relative;
    bottom: 900px;
    left: 370px;
    z-index: 7;
    overflow: hidden;
}
.ContainerImages{
    position: relative;
    top: 400px;
}
.ContainerTexts{
    margin-left: 140px;
    position: relative;
}
.Title{
    width: 500px;
    font-size: 50px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    color:  hsl(233, 26%, 24%);
}
.P{
    font-family: 'Public Sans', sans-serif;
    line-height: 30px;
    color: rgb(139, 139, 139);
}
.btn{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    border-radius: 35px;
    background-color: hsl(136, 65%, 51%);
    font-family: 'Public Sans', sans-serif;
}
.btn:hover{
    cursor: pointer;
}