.containerNavbar{
    max-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}
.logo{
    height: 30px;
}
.Item{
    background-color: white;
    height: 70px;
    border: 2px solid white;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    color: rgb(139, 139, 139);
    margin-left: 20px;
}
.Item:hover{
    border-bottom: 2px solid hsl(136, 65%, 51%);
    color:  hsl(233, 26%, 24%);
}
.BtnRequest{
    background-image: linear-gradient(to right,  hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 375px) {
    .Items{
        position: absolute;
        top: 100px;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
        width: 360px;
        z-index: 10;
        box-shadow: 10px 10px 100px rgba(45, 49, 77, 0.993);
    }
    .Item{
        width: 320px;
    }

    .containerNavbar{
        width: 330px;
        background-color: transparent;
        position: relative;
        left: 20px;
        
        z-index: 15;
    }
    .BtnRequest{
        display: none;
    }
    .logo{
        position: relative;
        width: 150px;
    }
    .hamburger{
        position: relative;
       
        display: flex;
    }
    .Items{
        display: none;
    }
    .Items.active{
        display: flex;
    }
}