.containerfooter{
    width: 100vw;
    height: 300px;
    background-color:  hsl(233, 26%, 24%);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
}
.containerfootercontent{
    width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.containerlists{
    display: flex;
    flex-direction: row;
}
.footerlista{
    margin-left: 50px;
    list-style: none;
}
.footeritemlista{
    margin-bottom: 20px;
}
.footeritemlista:hover{
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}
.footerlogo{
    color: white;
}
.containericons{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footericon{
    margin: 10px;
}
.footericon{
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}
.containerrequestinvite{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(139, 139, 139);
}
.BtnRequestFooter{
    width: 150px;
    position: relative;
    left: 80px;
    background-image: linear-gradient(to right,  hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
}
@media only screen and (max-width: 375px) {
    .containerfootercontent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerfooter{
        height: 600px;
        width: 375px;
    }
    .containerlists{
        display: flex;
        flex-direction: column;
    }
    .icons{
        margin-bottom: 100px;
        
    }
    .containerlists{
        margin-bottom: 50px;
        text-align: center;
        position: relative;
        left: -30px;
    }
    .containerrequestinvite{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .BtnRequestFooter{
        position: relative;
        left: -1px;
    }
    .footerlogo{
        position: relative;
        bottom: 25px;
    }
}